body {
    background-color: #ddd;
}

.box {
    position: relative;

    left: 50px;
    top: 50px;
    height: 100px; 
    width: 100px;
    background: #eee;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);

    transition: 1s 0.3s; /* tiempo y delay */
}
    /* 3 DIMENSIONES 
    transform: rotateX(40deg) rotateY(60deg) rotateZ(10deg);
}
    2 DIMENSIONES:
    transform: rotate(20deg) translate(100px, 100px);
}

.box:hover {
    transform: rotate(20deg) translate(100px, 100px) scale(1.1, 1.1) skew(5deg, 5deg);
    rotate: rotar; translate: mover; scale: escala; skew: inclinar/torcer
}*/

.box:hover {
    transform: scale(1.1, 1.1);
    background-color: #fff;
}