body {
    background-color: #ddd;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    font-size: 16px;
    border: none;
    cursor: pointer; /* cuando pasamos el mouse cambia la manito */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #efefef;
    min-width: 160px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px; /* padding vertical // padding horizontal */
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #fefefe;
}

.dropdown:hover .dropdown-btn {
    background-color: #3e8e41;
}

.dropdown:hover .dropdown-content {
    display: block;
}